<div id="hello" class="jumbotron">
	<div class="container">
		<h1>Hello</h1>
		<p>This is <code>server/views/index.ejs</code>. The partial-view that makes this is <code>front/assets/partials/index.html</code> Be sure to checkout all the files in the <code>front/</code> &amp; <code>server/views/</code> directory.
		<p>PS: don't forget to have fun</p>

		<div class="todo">
			<h2>TODO</h2>
			<div class="checkbox">
				<label>
					<input type="checkbox">
					<span>make some cool controllers in <code>front/js/controllers/</code></span>
				</label>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox">
					<span>make partial-templates in <code>front/assets/partials/</code></span>
				</label>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox">
					<span>add routes in <code>front/js/site.js</code></span>
				</label>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox">
					<span>drink mimosas till you puke</span>
				</label>
			</div>
		</div>
	</div>
</div>