<div class="modal-header">
	<button class="close" ng-click="cancel()">X</button>
    <h3 class="modal-title">{{name}}</h3>
</div>

<form name="form" novalidate ng-init="origUser={}">
	<div class="modal-body">

		<div ng-if="error" class="alert alert-danger">{{error}}</div>

		<div class="form-group">
		  <input ng-model="user.email" required type="email" placeholder="email" class="form-control">
		</div>

		<div class="form-group">
		  <input ng-model="user.password" required type="password" placeholder="password" class="form-control">
		</div>
	</div>
	<div class="modal-footer">
	    <button ng-disabled="form.$invalid || user == origUser" class="btn btn-primary" ng-click="ok()">OK</button>
	</div>

	<div class="container">
		<p ng-if="name!='Register'">Need to <a href="/register">register</a>?</p>
		<p ng-if="name!='Login'">If you have an account already, <a href="/login">login</a>?</p>
		<p>If you have forgotten your password, use <a href="/forgot">this</a>.</p>
	</div>
</form>




