<% layout('layout/basic') -%>

<%- partial('partials/header', {name:'forgot'}) -%>


<form class="container" method="POST" action="/forgot/<%= token %>">
	<p>Enter your new password, and we will update your account.</p>
	<input name="password" type="password">
	<input type="submit" value="update" class="btn btn-primary">
</form>

<% block('footer', "<script>require('front/js/auth');</script>") -%>