<% layout('layout/basic') -%>

<%- partial('partials/header', {name:'forgot'}) -%>


<form class="container" method="POST" action="">
	<p>Enter your email address, and we will send you a reset-password link.</p>
	<input name="email" type="email">
	<input type="submit" value="send" class="btn btn-primary">
</form>

<% block('footer', "<script>require('front/js/auth');</script>") -%>