<% layout('layout/basic') -%>

<%- partial('partials/header', {name:'token'}) -%>

<div class="container" ng-controller="TokenCtl">
    <h2>Email Verified.</h2>
    <p>Thanks for verifying your account. Click <a href="/login">here</a> to login.</p>
</div>

<% block('footer', "<script>require('front/js/auth');</script>") -%>